@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body{
    /* raspberry background-color: rgb(255, 0, 125);*/
    background: linear-gradient(90deg, blue, red);
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

h1{
    text-align: center;
    font-size: 100px;
    margin: 50px auto 25px;
    font-family: 'Bebas Neue', Arial, sans-serif;
}

.container{
    max-width: 450px;
    height: auto;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    /* cyan background-color: cyan; */
    /* ocean background-color: rgb(0, 125, 255); */
    background-color: magenta;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
    text-align: left;
    padding: 0;
    
}

li{
    font-size: 32px;
    padding: 10px 0;
}

a{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
}

a:hover{
    color: black;
}

footer{
    height: 50px;
}
